{% extends "parent.html" %}
{% block main %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
  <h1 style="text-align: center;">Enquiry form</h1>  
  <form class="form-group" action="{% url 'nouapp:contactus' %}" method="post">
    {% csrf_token %}
    <table class="table" style="width: 80%;margin:auto;">
      <tr>
        <td>Enter Name</td>
        <td>
          <Input type="text" name="name" class="form-control"/>
        </td>
      </tr>
      <tr>
        <td>Select Gender</td>
        <td>
          <input type="radio" name="gender" value="Male" class="form-check-input"/>Male
          <input type="radio" name="gender" value="female" class="form-check-input"/>Female
        </td>
      </tr>
      <tr>
        <td>Enter address</td>
        <td>
          <textarea name="address" class="form-control"></textarea>
        </td>
      </tr>
      <tr>
        <td>Enter Contact No</td>
        <td>
          <input type="number" name="contactno" class="form-control"/>
        </td>
      </tr>
      <tr>
        <td>Email Address</td>
        <td>
          <input type="text" name="emailaddress" claa="form-control"/>
        </td>
      </tr>
      <tr>
        <td>Enquiry text</td>
        <td>
          <textarea name="enquirytext" class="form-control"></textarea>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <button type="submit" class="btn btn-danger">Submit</button>
        </td>
      </tr>
    </table> 
  </form>   
{% endblock main %}