{% extends "studentparent.html" %}
{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Change Password</h1>
            <form action="{% url 'studentapp:changepassword' %}" class="form-group" method="post">
                {% csrf_token %}
              <table class="table">
                <tr>
                    <td>Old Password</td>
                    <td>
                        <input type="password" class="form-control text-light" name="oldpassword"/>
                    </td>
                </tr>
                <tr>
                    <td>New Password</td>
                    <td>
                        <input type="password" class="form-control text-light" name="newpassword"/>
                    </td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td>
                        <input type="password" class="from-control text-dark" name="confirmpassword"/>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp</td>
                    <td>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </td>
                </tr>
              </table>
            </form>
        </div>
    </div>
{% endblock %}
